<a href="https://colab.research.google.com/github/FayrouzWaleed/Syntecxhub-Pandas-CSV-reader-basic-analysis/blob/main/Pandas_CSV_reader_%26_basic_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Pandas

In [33]:
import pandas as pd

In [4]:
people = pd.read_csv('./people-100.csv')

In [5]:
people.head()

,Index,User Id,First Name,Last Name,Sex,Email,Phone,Date of birth,Job Title
0,1,88F7B33d2bcf9f5,Shelby,Terrell,Male,elijah57@example.net,001-084-906-7849x73518,1945-10-26,Games developer
1,2,f90cD3E76f1A9b9,Phillip,Summers,Female,bethany14@example.com,214.112.6044x4913,1910-03-24,Phytotherapist
2,3,DbeAb8CcdfeFC2c,Kristine,Travis,Male,bthompson@example.com,277.609.7938,1992-07-02,Homeopath
3,4,A31Bee3c201ef58,Yesenia,Martinez,Male,kaitlinkaiser@example.com,584.094.6111,2017-08-03,Market researcher
4,5,1bA7A3dc874da3c,Lori,Todd,Male,buchananmanuel@example.net,689-207-3558x7233,1938-12-01,Veterinary surgeon

In [6]:
people.tail()

,Index,User Id,First Name,Last Name,Sex,Email,Phone,Date of birth,Job Title
95,96,5eFda7caAeB260E,Dennis,Barnes,Female,bmartin@example.org,001-095-524-2112x257,1954-07-30,Software engineer
96,97,CCbFce93d3720bE,Steve,Patterson,Female,latasha46@example.net,001-865-478-5157,1932-04-29,Barrister
97,98,2fEc528aFAF0b69,Wesley,Bray,Male,regina11@example.org,995-542-3004x76800,1994-12-28,Police officer
98,99,Adc7ad9B6e4A1Fe,Summer,Oconnell,Female,alexiscantrell@example.org,001-273-685-6932x092,2012-04-12,Broadcast journalist
99,100,b8D0aD3490FC7e1,Mariah,Bernard,Male,pcopeland@example.org,(341)594-6554x44657,2016-11-15,IT sales professional

In [19]:
people.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Index             100 non-null    int64
 1   User Id           100 non-null    object
 2   First Name        100 non-null    object
 3   Last Name         100 non-null    object
 4   Sex               100 non-null    object
 5   Email             100 non-null    object
 6   Phone             100 non-null    object
 7   Date of birth     100 non-null    object
 8   Job Title         100 non-null    object
 9   Sex_encoded       100 non-null    int64
 10  JobTitle_encoded  100 non-null    int8
dtypes: int64(2), int8(1), object(8)
memory usage: 8.0+ KB

## Encoding Dataset (to get stats)

In [14]:
people["Sex_encoded"] = people["Sex"].map({
    "Male": 1,
    "Female": 0
})

In [16]:
people.head()

,Index,User Id,First Name,Last Name,Sex,Email,Phone,Date of birth,Job Title,Sex_encoded
0,1,88F7B33d2bcf9f5,Shelby,Terrell,Male,elijah57@example.net,001-084-906-7849x73518,1945-10-26,Games developer,1
1,2,f90cD3E76f1A9b9,Phillip,Summers,Female,bethany14@example.com,214.112.6044x4913,1910-03-24,Phytotherapist,0
2,3,DbeAb8CcdfeFC2c,Kristine,Travis,Male,bthompson@example.com,277.609.7938,1992-07-02,Homeopath,1
3,4,A31Bee3c201ef58,Yesenia,Martinez,Male,kaitlinkaiser@example.com,584.094.6111,2017-08-03,Market researcher,1
4,5,1bA7A3dc874da3c,Lori,Todd,Male,buchananmanuel@example.net,689-207-3558x7233,1938-12-01,Veterinary surgeon,1

In [17]:
people["JobTitle_encoded"] = people["Job Title"].astype("category").cat.codes

In [18]:
people.head()

,Index,User Id,First Name,Last Name,Sex,Email,Phone,Date of birth,Job Title,Sex_encoded,JobTitle_encoded
0,1,88F7B33d2bcf9f5,Shelby,Terrell,Male,elijah57@example.net,001-084-906-7849x73518,1945-10-26,Games developer,1,35
1,2,f90cD3E76f1A9b9,Phillip,Summers,Female,bethany14@example.com,214.112.6044x4913,1910-03-24,Phytotherapist,0,62
2,3,DbeAb8CcdfeFC2c,Kristine,Travis,Male,bthompson@example.com,277.609.7938,1992-07-02,Homeopath,1,38
3,4,A31Bee3c201ef58,Yesenia,Martinez,Male,kaitlinkaiser@example.com,584.094.6111,2017-08-03,Market researcher,1,50
4,5,1bA7A3dc874da3c,Lori,Todd,Male,buchananmanuel@example.net,689-207-3558x7233,1938-12-01,Veterinary surgeon,1,87

In [21]:
people["Date of birth"] = pd.to_datetime(people["Date of birth"])

today = pd.Timestamp.today()
people["Age"] = (today - people["Date of birth"]).dt.days // 365

In [22]:
people.head()

,Index,User Id,First Name,Last Name,Sex,Email,Phone,Date of birth,Job Title,Sex_encoded,JobTitle_encoded,Age
0,1,88F7B33d2bcf9f5,Shelby,Terrell,Male,elijah57@example.net,001-084-906-7849x73518,1945-10-26,Games developer,1,35,80
1,2,f90cD3E76f1A9b9,Phillip,Summers,Female,bethany14@example.com,214.112.6044x4913,1910-03-24,Phytotherapist,0,62,115
2,3,DbeAb8CcdfeFC2c,Kristine,Travis,Male,bthompson@example.com,277.609.7938,1992-07-02,Homeopath,1,38,33
3,4,A31Bee3c201ef58,Yesenia,Martinez,Male,kaitlinkaiser@example.com,584.094.6111,2017-08-03,Market researcher,1,50,8
4,5,1bA7A3dc874da3c,Lori,Todd,Male,buchananmanuel@example.net,689-207-3558x7233,1938-12-01,Veterinary surgeon,1,87,87

In [29]:
people[["Sex_encoded", "JobTitle_encoded", "Age"]].describe()

       Sex_encoded  JobTitle_encoded         Age
count   100.000000        100.000000  100.000000
mean      0.470000         44.930000   59.980000
std       0.501614         26.601912   34.102632
min       0.000000          0.000000    4.000000
25%       0.000000         21.750000   30.250000
50%       0.000000         45.500000   63.000000
75%       1.000000         68.250000   87.000000
max       1.000000         90.000000  117.000000

In [32]:
people[["JobTitle_encoded", "Age"]].median()

JobTitle_encoded    45.5
Age                 63.0
dtype: float64

## Preprocessing Dataset

In [34]:
people.isnull().sum()

Index               0
User Id             0
First Name          0
Last Name           0
Sex                 0
Email               0
Phone               0
Date of birth       0
Job Title           0
Sex_encoded         0
JobTitle_encoded    0
Age                 0
dtype: int64